.newflags {
  &-container {
    width: 100%;
    padding: 10px 30px 10px;
    .newflags-item {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &-title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
  }

  &-submit {
    width: 200px;
  }

  &-modal {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70%;
    text-align: center;
    &-text {
      color: white;
      font-size: 24px;
      margin-bottom: 100px;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
}