.flagitem {
  &-container {
    width: '100%';
    min-width: 275px;
    max-width: '36ch';
  }
  &-item {
    min-height: 85px;
    display: flex;
    align-items: center;
  }
  &-status {
    padding-top: 8px;
  }
}

